source https://api.nuget.org/v3/index.json
framework: net5.0
nuget FSharp.Core 5.0

group Test
    source https://api.nuget.org/v3/index.json
    framework: net5.0

    nuget FSharp.Core 5.0
    nuget Microsoft.NET.Test.Sdk
    nuget YoloDev.Expecto.TestSdk
    nuget Expecto
    nuget Unquote